body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-color: #1DA1F2;
}

.jumbotron {
    text-align: center;
}

td {
    padding: .4em;
}

.comName {
    width: 70%;
    text-align: 'left';
}

table {
    width: 100%;
    table-layout: fixed;
}

.dateTable {
    width: 40%;
    
}

.nameTag {
    font-weight: bold;
}
.row{
    padding: 2rem;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}
hr{
    margin-left: 10vw;
    margin-right: 10vw;
    overflow-x: clip;
    color: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 2px;
}
.col-md-3{
    background-color: #f5f5f5;
    padding: 1vw;
    border-radius: 5px;
    word-wrap: break-word;
}